//Importing Fonts
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
  @include respond(tab-land) {
    // font-size: 100px;
  }
  @include respond(phone) {
    font-size: 15px;
  }
}
.heading--sec {
  font-size: 40px;
  @include respond(tab-land) {
    font-size: 35px;
  }
  @include respond(phone) {
    font-size: 27px;
  }
  font-weight: bold;
  text-transform: uppercase;
  color: $color-main;
}
.heading--ter {
  font-size: 30px;
  @include respond(tab-land) {
    font-size: 26px;
  }
  @include respond(phone) {
    font-size: 22px;
  }
  font-weight: 700;
  text-transform: uppercase;
  color: $color-main;
}
