//Importing Fonts
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
}
.heading--sec {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-main;
}
.tc {
  text-align: center;
}
