.hero {
  position: relative;
  &__img {
    background-image: url(../assets/hero.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    z-index: -1000;
    display: block;
  }
  &__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
  }
  &__content {
    width: fit-content;
    position: absolute;
    text-align: center;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    //font-size: 30px;
  }
  &__heading {
    font-size: 120px;
    @include respond(tab-land) {
      font-size: 85px;
    }
    @include respond(phone) {
      font-size: 50px;
    }
    margin: 0;
    line-height: 1;
    font-weight: 400;
    font-family: "Oleo Script", cursive;
    color: $color-main;
    text-transform: uppercase;
  }
  &__text {
    font-size: 30px;
    letter-spacing: 6px;
    text-transform: uppercase;
    @include respond(tab-land) {
      font-size: 20px;
      letter-spacing: 5px;
    }
    @include respond(phone) {
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
}
